{% if item.linksWithItems is not empty %}
    <p class="lh-copy">Connections with this item:</p>

    <ul>
        {% for linkWithItems in item.linksWithItems %}
            <li class="mt2">
                <a class="black-70 dim" href="{{ path_for('singleLink', {'id': linkWithItems['id']}) }}">{{ linkWithItems.title }}</a>
                <ul>
                {% for item in linkWithItems.items %}
                    <li>
                        <a class="black-70 dim" href="{{ path_for('singleItem', {'id': item['id']}) }}">{{ item.title }}</a>
                        {% if not loop.last %},{% endif %}
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% elseif item.linkedItems is not empty %}
    <p class="lh-copy">Linked items:</p>

    <ul>
        {% for item in link.linkedItems %}
            <li class="mt2">
                <a class="black-70 dim" href="{{ path_for('singleItem', {'id': item['id']}) }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="lh-copy">This item has no relations.</p>
{% endif %}
