<h1>LINK: {{ link.meta.title }}</h1>
<p>Originally created: {{ link.meta.created_at|date(timezone="America/Toronto") }}</p>

{{ link.content.content|markdown }}

{% if link.linkedItems is not empty %}
    <p>Linked items:</p>

    <ul>
        {% for item in link.linkedItems %}
            <li>
                <a href="{{ path_for('singleItem', {'id': item['id']}) }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
